.navbar-container {
  background-color: rgb(43, 115, 231);
  height: 100px;
  border-bottom: 1px solid blue;
}
input {
  color: #17012b;
  border: 2px solid #17012b;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}
.nav-title{
    position: absolute;
    left: 20px;
    color: aliceblue;
}

