.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  align-items: center;
}
.count-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
